* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f7f7f7;
    color: #333;
    text-align: center;
    padding: 50px 20px;
}

h1 {
    font-size: 2.5rem;
    color: #4a3f8c;
    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    background: #4a3f8c;
    color: white;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: bold;
}

nav a:hover {
    background: #352e66;
}

.usuario-nome {
    font-weight: bold;
    margin-right: 10px;
    color: #4a3f8c;
    font-size: 1.1rem;
}