<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    {% block estilos %}{% endblock %}
</head>
<body>

    <nav class="navbar">
        <div class="logo">Achados & Perdidos</div>

        <div class="menu">
            {% if 'usuario_id' not in session %}
                <a href="{{ url_for('usuario.cadastro') }}">Criar Conta</a>
                <a href="{{ url_for('usuario.login') }}">Login</a>
            {% else %}
                <span class="usuario">Olá, {{ session['usuario_nome'] }}</span>
                <a href="{{ url_for('usuario.perfil') }}">Perfil</a>
                <a href="{{ url_for('item.novo') }}">Cadastrar Item</a>
                <a href="{{ url_for('usuario.logout') }}">Sair</a>
            {% endif %}
        </div>
    </nav>

    <main class="conteudo">
        {% block conteudo %}{% endblock %}
    </main>

</body>
</html>
