{% extends "base.html" %}

{% block titulo %}Cadastrar Item{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='item.css') }}">
{% endblock %}

{% block conteudo %}
<div class="form-container">

    <h1>Cadastrar Novo Item</h1>

    <form action="" method="POST" enctype="multipart/form-data">

        <label>Nome:</label>
        <input type="text" name="nome" required>

        <label>Descrição:</label>
        <textarea name="descricao"></textarea>

        <label>Local:</label>
        <input type="text" name="local" required>

        <label>Data:</label>
        <input type="date" name="data" required>

        <label>Foto:</label>
        <input type="file" name="foto">

        <button type="submit">Salvar</button>
    </form>

    <a class="voltar" href="{{ url_for('item.listar') }}">Voltar para itens</a>

</div>
{% endblock %}
